{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/user/css/login.css') }}">
{% endblock %}

{% block body %}
    <section class="login">
        <article>
            <h1>Register</h1>
            <form action="{{ path('user_register') }}" method="post">
                {{ form_widget(register_form) }}
                <input type="submit" value="Register"
                       class="btn btn-primary pull-right">
            </form>
        </article>
    </section>
{% endblock %}